<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Leaderboard
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span class="cancelText" ion-text color="secondary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<ion-list>
    <ion-item *ngFor="let item of highScores | async">
      {{item.name}} - {{item.score}}
    </ion-item>
  </ion-list>-->
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Score</th>
        <th>Name</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of highScores | async; let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ item.score }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.platform }}</td>
      </tr>
    </tbody>
  </table>
  <!--<ul>
    <li class="text" *ngFor="let item of highScores | async">
      {{item.name}} - {{item.score}}
    </li>
  </ul>-->
</ion-content>
